<% @page_title = "Models List!" %>

<div class="models list">
	<h2>Pages</h2>
<%= link_to "Add a new Model", {:action => "new"}, :class => "action new" %>
	<table class="listing" summary="Admin Users List">
		<tr class="header">
			<th>Model</th>
			<th>Description</th>
			<th>Make</th>
			<th>Active</th>
			<th>Metered</th>
			<th>Actions</th>
		</tr>
		<% @models.each do |model| %>
		<tr class="<%= cycle("odd", "even") %>">
			<td><%= model.name %></td>
			<td><%= model.description %></td>
			<td><%= model.make.name %></td>
			<td><%= model.active %></td>
			<td><%= model.metered %></td>
			<td class="actions">
				<%= link_to("Show", {:action => "show", :id => model.id}, :class => "action show")%>
				<%= link_to("Edit", {:action => "edit", :id => model.id}, :class => "action edit")%>
				<%= link_to("Delete", {:action => "delete", :id => model.id}, :class => "action delete")%>
			</td>
		</tr>
		<% end %>
	</table>
	
</div>
