<td>
	<div class="panel dashboard_section">
		
		<h3>Subjects Widget</h3>
		
		<div class="panel_contents">
			<table border="0" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th class="">Subject Name</th>
						<th class="">Position</th>
						<th class="">Visible</th>
						<th class="">Actions</th>
					</tr>
				</thead>
				<tbody>
					<% @last_subjects.each do |subject| %>
					<tr class="<%= cycle("odd", "even") %>">
						<td><%= subject.name %></td>
						<td><%= subject.position %></td>
						<td><%= subject.visable ? "Yes" : "No" %></td>
						<td class="actions">
							<%= link_to("Edit", {:action => "edit", :id => subject.id}, :class => "action edit")%>
							<%= link_to("Delete", {:action => "delete", :id => subject.id}, :class => "action delete")%>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	
	</div>
</td>

