<% @page_title = "Admin Dashboard" %>

<div class="without_sidebar" id="active_admin_content">
	<div id="main_content_wrapper">
		<div id="main_content">
			<table class="dashboard" border="0" cellspacing="0" cellpadding="0">
				<tr>
				<%= render(:partial => "subjects_widget") %>
				<%= render(:partial => "pages_widget") %>
				<%= render(:partial => "pages_widget") %>
				</tr>
				<tr>
				<%= render(:partial => "pages_widget") %>
				<%= render(:partial => "pages_widget") %>
				<%= render(:partial => "pages_widget") %>
				</tr>
			</table>
		</div>
	</div>
</div>