<!DOCTYPE html>

<html>

	<head>
	
		<title>World Trade Office Solutions CMS! | <%= @page_title || "Admin Area" %></title>
		<%= stylesheet_link_tag "subjects", :media => "all" %>
		<%= javascript_include_tag "" %>
		<%= csrf_meta_tags %>

	</head>

	<body class="logged_in admin_dashboard index">
		
		<div id="wrapper">
			
			<div id="header">
				
				<h1 id="site_title">World Trade Office Solutions CMS!</h1>
				
				<%= render(:partial => "layouts/admin_header") %>
				
			</div>
			
			<div id="title_bar">
				
				<div id="titlebar_left">
					<h2 id="page_title"><%= @page_title %></h2>
				</div>
				
				<div id="titlebar_right">
					<%= image_tag "rails.png", :title => "logo", :class => "logo" %>
				</div>
				
			</div>
			
			<%= render(:partial => "layouts/flashes") %>
			
		</div>
		
		<%= yield %>
		
	</body>
	
</html>